%transition {
  transition: all .3s ease
}

$red: #ef172f;
$red2: #ff0019;
$main: #4c5256;
$main05: rgba(76, 82, 86, 0.5);
$main04: rgba(76, 82, 86, 0.4);
$yellow: #f4cb67;
$lgreen: #89c896;
$lgray: #707578;
$blgreen: #57c1af;
$dblgreen: #2db29b;
$violet: #9059a0;
$blue: #61c9e4;
$bord: #8c0011;