.icon-set_serv:before {
  content: "\e93b";
}
.icon-set_del:before {
  content: "\e937";
}
.icon-set_pay:before {
  content: "\e938";
}
.icon-set_pay_card:before {
  content: "\e939";
}
.icon-set_user:before {
  content: "\e93a";
}
.icon-set_serv_arl:before {
  content: "\e93c";
}
.icon-set_serv_knx:before {
  content: "\e93d";
}
.icon-set_serv_dali:before {
  content: "\e93e";
}
.icon-set_serv_raec:before {
  content: "\e93f";
}
.icon-set_sroom .path1:before {
  content: "\e940";
  color: rgb(66, 69, 76);
}
.icon-set_sroom .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(66, 69, 76);
}
.icon-set_sroom .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(66, 69, 76);
}
.icon-set_sroom .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(66, 69, 76);
}
.icon-set_sroom .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 69, 76);
}
.icon-set_sroom .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 69, 76);
}
.icon-set_sroom .path7:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 69, 76);
}
.icon-set_sroom .path8:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 69, 76);
}
.icon-set_sroom .path9:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(66, 69, 76);
}
.icon-set_sroom .path10:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(66, 69, 76);
}
.icon-available:before {
  content: "\e900";
}
.icon-notavailable:before {
  content: "\e901";
}
.icon-wait:before {
  content: "\e902";
}
.icon-add-outline:before {
  content: "\e903";
}
.icon-logout:before {
  content: "\e904";
}
.icon-backlink:before {
  content: "\e905";
}
.icon-enter:before {
  content: "\e906";
}
.icon-rub-bold:before {
  content: "\e907";
}
.icon-ar_head_vs:before {
  content: "\e908";
}
.icon-rub:before {
  content: "\e909";
}
.icon-balance-scale:before {
  content: "\e90a";
}
.icon-ar_head_list:before {
  content: "\e90b";
}
.icon-4:before {
  content: "\e90c";
}
.icon-star-empty:before {
  content: "\e90d";
}
.icon-date:before {
  content: "\e90e";
}
.icon-blockquote:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-arrow-left-double:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-arrow-down-double:before {
  content: "\e913";
}
.icon-checkboxchecked:before {
  content: "\e914";
}
.icon-star2:before {
  content: "\e915";
}
.icon-required:before {
  content: "\e916";
}
.icon-arrow-down:before {
  content: "\e917";
}
.icon-list:before {
  content: "\e918";
}
.icon-list-arrow-down:before {
  content: "\e919";
}
.icon-garbage:before {
  content: "\e91a";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-nophoto:before {
  content: "\e91c";
}
.icon-phone:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-cart:before {
  content: "\e91f";
}
.icon-cart-cross:before {
  content: "\e920";
}
.icon-cart-empty:before {
  content: "\e921";
}
.icon-email:before {
  content: "\e922";
}
.icon-list-arrow-up:before {
  content: "\e923";
}
.icon-quest:before {
  content: "\e924";
}
.icon-arrow-right-double:before {
  content: "\e925";
}
.icon-close:before {
  content: "\e926";
}
.icon-close1:before {
  content: "\e927";
}
.icon-star3:before {
  content: "\e928";
}
.icon-ar_head_fav:before {
  content: "\e929";
}
.icon-ar-dislike:before {
  content: "\e92a";
}
.icon-star-o:before {
  content: "\e92b";
}
.icon-ar-like:before {
  content: "\e92c";
}
.icon-heart-o:before {
  content: "\e92d";
}
.icon-ar_menu_n:before {
  content: "\e92e";
}
.icon-ar_copy:before {
  content: "\e92f";
}
.icon-ar_flag:before {
  content: "\e930";
}
.icon-ar_auto:before {
  content: "\e931";
}
.icon-ar_bfr:before {
  content: "\e932";
}
.icon-ar_ny:before {
  content: "\e933";
}
.icon-ar_pres:before {
  content: "\e934";
}
.icon-arMailIcon:before {
  content: "\e935";
}
.icon-quest2:before {
  content: "\e936";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-ar_clamps:before {
  content: "\e94a";
}
